html {
  scroll-behavior: smooth; /*en commun*/
}

body { /*en commun*/
  background-color: black;
}

.content { /*en commun*/
  background-image: url("/image/accueil.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 2500px;
  max-width: 100%;
  border-top: 5px solid rgb(255, 0, 0);
  
}

img { /*logo avengers nav*/ /*en commun*/
  height: 200px;
  width: 450px;
  
  
} 

header { /*en commun*/
  text-indent: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  font-size: 26px;
  word-spacing: 8px;
  
}

#line { /*en commun*/
  text-decoration: none;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  color: rgb(0, 255, 55);
}
.rose {
  color: rgb(240, 71, 231);
}
.line {
  text-decoration: none;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}
.effect-shine:hover {
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

.red {
  color: rgb(255, 0, 0);
}
.line {
  text-decoration: none;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

.effect-shine:hover {
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}
.bleu {
  color: rgb(0, 103, 238);
}
.line {
  text-decoration: none;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}
.effect-shine:hover {
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}
.green {
  color: rgb(77, 247, 77);
}
.line {
  text-decoration: none;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}
.effect-shine:hover {
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}
.jaune {
  color: rgb(243, 243, 59);
}
.line {
  text-decoration: none;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}
.effect-shine:hover {
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}
.orange {
  color: rgb(245, 188, 66);
}
.line {
  text-decoration: none;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}
.effect-shine:hover {
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}/*en commun*/ 

#nav { /*en commun*/ 
  width: 50%;
  display: flex;
  justify-content: center;
}

#test tr:nth-child(2n + 0) {
  background-color: red;
  color: rgb(195, 255, 0);
}

#titret {
  padding: 20px;
}

table {
  border-collapse: collapse;
}
td, th /* Mettre une bordure sur les td ET les th */ {
  border: 1px solid rgb(255, 255, 255);
}

.impaire {
  color: green;
}

.paire {
  color: greenyellow;
}
footer {
  font-size: 30px;
  border-top: 5px solid red;
  color: rgb(255, 0, 0);
  padding: 20px 100px;
  text-align: center;
  position: static; /*pour fixer le footer en bas*/
}
